{% extends "shared/base.html" %}

{% block title %}
    <title>Feedbackr | Admin Login</title>
{% endblock %}

{% block content %}
<h1 style="color: darkcyan; font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center; height: fit-content;"><a style="color: darkcyan; font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align:end; height: fit-content; text-decoration: none;" href = "https://feedmeback.deta.dev/">FeedMeBack</a></h1>
<a style="color: darkcyan; font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align:end; height: fit-content;" href = "https://feedmeback.deta.dev/">Return to home</a>
<div class="container col-8 row center mx-auto mt-5 p-5" style="text-align:center">
    <form action="http://127.0.0.1:8000/login/administrator" enctype="multipart/form-data" method="post">
    <p style="text-align: center"> Enter your admin login details</p>
        <br>
        <div class="col-4 row center mx-auto mt-1 p-2" style="text-align: center">
        <label for="username" style="text-align: center" class="mb-1">Username:</label>
        <input type="text" id="username" name="username" required>
        </div>        
        <div class="col-4 row center mx-auto mt-1 p-2" style="text-align: center">
        <label for="password" style="text-align: center" class="mb-1">Password:</label>
        <input type="password" id="password" name="password" style="background-color: white;" required>
        </div>
        <br>
        <input type="submit" value="Submit" onclick="rollie()">
    </form>
</div>


<script>
    function rollie() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        sessionStorage.setItem("user", username);
        sessionStorage.setItem("password", password);
    }
</script>
{% endblock %}